/* On macos, the titlebar has to be made high enough */
#titlebar {
 height: 44px;
}

#navigation-toolbox, #tabmail-tabs,  #tabmail-arrowscrollbox{ /* Outer tab containers */
    min-height: 44px !important;
 }
 
.tabmail-tab { /* Give the tabs a bit of a margin */
    margin: 4px !important;
}
 
.tab-background { /* Round tab corners and add a bit of padding */
    padding: 6px;
    border-radius: 4px;
}
 
.tab-line { /* Eliminate the line at the top of the tab */
    height: 0px !important;
    display: none !important;
}

.tabmail-tab::after, .tabmail-tab::before { /* Eliminate the line between inactive tabs */
    border: none !important;
}

.toolbarbutton-1, .searchBox, .themeableSearchBox { /* Eliminate borders, round corners, and increase height on buttons and search bars */
    border: none !important;
    border-radius: 5px !important;
    height: 31px !important;
}

.contentTabUrlInput {
    height: 26px !important;
}

.panel-arrowbox { /* hide the arrow on popup menus */
    display: none;
}

.panel-arrowcontent { /* Eliminate borders, round corners, and increase padding on popup menus */
    padding: 5px !important;
    border-radius: 5px;
    border: none;
}

.spaces-toolbar:not([hidden]) {
    margin-top: -44px !important;
}

.tab-background[selected="true"] {
    box-shadow: var(--tab-shadow) !important;
}

.tabmail-tab:hover .tab-background:not([selected="true"]) {
    background-color: color-mix(in srgb, currentColor 11%, transparent) !important;
}

@media (-moz-content-prefers-color-scheme:light) {
  /* Light Theme */
    :root {
        --tab-shadow: 0px 0px 4px #888;
        --toolbar-field-background-color: rgb(230, 230, 234) !important;
  }
}

@media (-moz-content-prefers-color-scheme:dark) {
  /* Dark Theme */
  :root {
    --tab-shadow: 0px 0px 4px #111 !important;
    --toolbar-field-background-color: rgb(28, 27, 34) !important;
  }
}

.tab-close-button {
    padding: 6px !important;
}

.tab-close-icon {
    width: 12px !important;
    height: 12px !important;
}

.contentTabToolbar {
    height: 40px !important;
}

#urlbar-background {
    border: none;
    box-shadow: none !important;
}
